<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- include("_header") %>
    <main>
      <h1>Super list of users!</h1>
      <% for(const userId in users){ 
        const user = users[userId]
      %> 
        <%- include("_user_list_item", {user}) %> 
      <% } %>
    </main>
  </body>
</html>
